/* Name any red color font from index to change style */
/* background-color = changes background color */
/*  */

body {
    background-color: #395C6B;
}

h1 {
    color: #BCD3F2;
    text-align: center;
    font-family: 'Sofia';
    font-size: 100px;
}

h2 {
    color: #7D869C;
    text-align: left;
}

li{
  color: #80A4ED;
}


p{
  color:darkviolet;
}

#Me{
  display: inline-block;
    width: 150px;
    height: 150px;
    margin: 60px;
    border: 10px solid #80A3ED;
    background: #80A3ED;
    font-size: 45px;
    color: white;
}
