/* Name any red color font from index to change style */
/* background-color = changes background color */
/*  */


body {
    background-color: plum;
}

h1 {
    color: blue;
    text-align: center;
    font-family: 'Sofia';
    font-size: 100px;
}

h2 {
    color: #7D869C;
    text-align: left;
}

li{
  color: #80A4ED;
}


p{
  color:darkviolet;
}

#Me{
  display: inline-block;
    border-radius: 50px;
    width: 150px;
    margin: 30px;
    border: 10px solid #80A3ED;
    background: #80A3ED;
    font-size: 45px;
    color: white;
    text-align: center;
    top: 50%;
    padding: 0;
}

#about_Me{
  display: inline-block;
    border-radius: 75px;
    height: 125px;
    width: 150px;
    margin: 60px;
    border: 10px solid #80A3ED;
    background: #80A3ED;
    font-size: 45px;
    color: white;
    text-align: center;
    top: 50%;
    padding: 0;
}
